// $green: #8ca893;
// $yellow: #e3bb89;
// $orange: #db9964;
// $red: #b1685a;
// $brown: #65474a;
$green100: #a5b7a2;
$green200: #5f7462;
$green300: #3e4c40;
$yellow: #e3bb88;
$orange: #db9864;
$red: #b0695a;
$brown: #65474a;
$black: #1e1e1e;
